@import "variables";

#content-wrapper{
    padding:50px 70px;
    display: flex;
    justify-content: space-between;
}
#sig-post{
    width:calc(75% - 40px - 10px);
    padding:20px;
    border-radius: $border-radius-all;
    background-color: $primary-color;
}
#sidebar{
    background-color:$primary-color;
    padding:20px;
    width:calc(25% - 40px - 10px);
}
@media all and (max-width: $breakpoint-tablet){
    #content-wrapper{
        padding:20px;
        flex-direction: column;
    }
    #sig-post,#sidebar{
        width:auto;
    }
}
#sig-post h1{
    font-size:18px;
}
#sig-post img{
    display: inline;
}
#sig-post-img img{
    max-height:250px;
    max-width:100%;
}