$primary-color: #fff;
$bg-color:#efefef;
$header-bg-color:#fff;

$font-color: #000;
$font-color-lite: #555;
$font-heading: 'Oswald', sans-serif;
$font-text: 'Open Sans', sans-serif;
$font-size-heading: 14px;
$font-size-text: 12px;

$post-img-width:120px;
$post-img-height:auto;

$breakpoint-tablet: 768px;
$height-header: 44px;
$height-footer: 44px;

$border-radius-all: 5px;
